// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #F4D06F;
$blue: #9DD9D2;
$dark_blue: #392F5A;
$orange: #FF8811;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FFF8F0;
