#middle {
  background-color: #9DD9D2;
  h2{
    color: #392F5A;
  }
  p {
    color: #392F5A;
  }
}

#last {
  background-color: #F4D06F;
  h2{
    color: #FF8811;
  }
  p {
    color: #FF8811;
  }
}

.scrolling-page {
  background-color: #9DD9D2;

  h2{
    font-size: 48px;
    font-weight: bold;
  }
  p {
    font-size: 32px;
  }
}

.row {
  display: flex;
  flex: 50%;
  position: relative;
}

.column {
  flex: 50%;
}

.right {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  .btn {
    background-color: #392F5A ;
    border: none;
    color: #9DD9D2;
    font-weight: bold;
    position: relative;
    right: -300px;
  }
}

.left {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  position: relative;
  right: -75px;

  .btn {
    background-color: #FF8811 ;
    border: none;
    color: #F4D06F;
    font-weight: bold;
    position: relative;
    right: -300px;
  }
}

.search{
  z-index: 3;
  position: relative;
  top: 280px;
  left: 180px;
  bottom: 50px;
  right: 50px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-flex1 {
  position: relative;
  top: 20px;
  left: 75px;
  bottom: 50px;
  right: 50px;
  height: 300px;
  z-index: 1;
}

.card-flex2 {
  position: relative;
  top: -70px;
  left: 150px;
  bottom: 50px;
  right: 50px;
  height: 300px;
  color: black;
}

.card-flex3 {
  position: relative;
  top: -460px;
  left: 280px;
  bottom: 50px;
  right: 50px;
  height: 300px;
  color: black;
  z-index: 2;
}


.card-home {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  width: 50%;
  height: 100%;
}

.card-home > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-home p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-home .card-home-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-home-infos .card-home-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.button{
  z-index: 9;
  height: 5vh;
  width: 100%;
  background-color: #9DD9D2;
  border: none;
  color: black;
}
