<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images7.alphacoders.com/857/857895.jpg);">
  <div class="container">
    <h1><strong>FindAfriend</strong> brings people with the same passion together!</h1>
    <p>Find people to do activities with you.</p>
  </div>
</div>
