<div class="card-trip">
  <img src="<%= activity.image_url%>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= activity.title %></h2>
      <p><%= activity.content %></p>
    </div>

    <img src="<%= activity.user.avatar%>" class="card-trip-user avatar-bordered" />
  </div>
</div>
