

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <i class="fa-solid fa-user-group"></i> RENTAFRIEND </a>

    <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="Type to Search...">
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <div class = "nav-circle">
        <li class="nav-item dropdown">
            <i class="fa-solid fa-list" id="navbarDropdown" data-bs-toggle="dropdown"></i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <li class="nav-item avatar">
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          </li>
      </div>
      </ul>
    </div>

<%= render 'shared/banner' %>

<div class="container">

<h1>Join an activity!</h1>

  <div class="cards">

    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <%= render 'shared/card_activity', activity: activity %>

      <% end %>

    <% end %>

  </div>
</div>
