<%= render 'shared/banner' %>

<div class="container">

<h1>Join an activity!</h1>

  <div class="cards">

    <%  10.times do %>
    <%= render 'shared/card_activity' %>

    <% end %>

  </div>
</div>
