  <div class="scrolling-page">
    <div class="scrolling-child">
      <%= render 'shared/navbar' %>
      <%= render 'shared/banner' %>
      <%= render 'shared/searchbar' %>
    </div>
    <div class="scrolling-child background-red">

    </div>
    <div class="scrolling-child background-blue">

    </div>
  </div>
