












<div class="container">
<h2 class="dashboard-title">Pending</h2>

  <div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.state == "pending" %>
         <%= render "shared/card_activity", activity: booking.activity %>
      <% end %>
    <% end %>
  </div>


<h2 class="dashboard-title">Declined</h2>

 <div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.state == "declined" %>
         <%= render "shared/card_activity", activity: booking.activity %>
      <% end %>
    <% end %>
  </div>


<h2 class="dashboard-title">Accepted</h2>
 <div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.state == "accepted" %>
         <%= render "shared/card_activity", activity: booking.activity %>
      <% end %>
    <% end %>
  </div>

  </div>
