
.card-show{
  border: 1px solid black;
  padding: 30px;
  width: 500px;
  height: 500px;


}
.card-show-info{

  padding: auto;
  border: 1px solid black;
  width: 150px;
  height: 150px;

}
.card-show-info2{
  margin-top: 10px;
  padding: auto;
  border: 1px solid black;
  width: 150px;
  height: 150px;

}
