
.card-show{
  border: 1px solid rgb(253, 253, 253);
  padding: 30px;
  width: 500px;
  height: 500px;
  background-color: rgb(195, 188, 188);
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);

   button{
    position: relative;
    top: 1px; left: 338px;
  }
}


.card-show-info2{

  padding: auto;
  margin-top: 10px;
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  align-items: center;
}
.img-show {
  background-size: cover;
  background-position: center;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show {
  padding: auto;
  margin-top: 10px;
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  align-items: center;
}



.card-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-show .card-show-infos {
  padding: 16px;
}
