.dashboard-title {
  background-color: rgba(34, 106, 157, 0.476);
  color: whitesmoke;
  width: 100%;
  margin: 40px auto;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.245);
  text-align: end;
}
.dashboard-margin-bottom {
  margin-bottom: 30px;
}
.grid {
  display: grid;
  height: 450px;
  grid-template-columns: 2fr 800px;
  margin-top: 20px;
}
.text-deco-none {
  a {
    text-decoration: none;
  }
}
