.dashboard-title {
  background-color: rgba(37, 103, 83, 0.476);
  color: whitesmoke;
  width: 100%;
  margin: 40px auto;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.245);
  text-align: end;
}
.dashboard-padding-bottom {
  margin-bottom: 30px;
}
