.navbar-lewagon {
  justify-content: space-between;
  background: #FFF8F0;
  position: sticky;
  height: 10vh;
  top:0;
  z-index: 2;
  a {
    text-decoration: none;
    color: black;
  }
  .logo {
    font-size: 28px;
  }
}

div.scrollmenu {
  background-color: #FFF8F0;
  overflow: auto;
  white-space: nowrap;
  position: sticky;
  top:10%;
  z-index: 1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  padding: 4px;
}

.nav-circle {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}

#navbarDropdown {
  margin-right: 15px;
  margin-left: 5px;
}

#Nav-dash-btn{
  display: inline-block;
  position: relative;
  .notifications{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    position: absolute;
    top:-10px;
    right:-10px;
    border-radius:50%;
  }
}

#Nav-dash-btn::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #9DD9D2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.icone {
  display: inline-block;
  position: relative;
}

.icone::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #9DD9D2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.icone:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navright {
  display: inline-block;
  position: relative;
}

.navright::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #9DD9D2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navright:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
