.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
<<<<<<< HEAD
  top:0;
  z-index: 2;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: sticky;
  top:10%;
  z-index: 1;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
=======
  top: 0;
>>>>>>> dc1f57d8ed720b6e1a993166addc60e103071df2
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  padding: 4px;
}

.nav-circle {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
}

#navbarDropdown {
  margin-right: 15px;
  margin-left: 5px;
}

*{
  box-sizing: border-box;
}
.search-box{
  position: fixed;
  right: 100px;
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color:black;
}
.input-search::placeholder{
  color:gray;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:black ;
  background-color:transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid black;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid black;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
